// 颜色
.yl {
    color: #E6DB74;
}
.bl {
    color: #66D9EF;
}
.db {
    color: #AE81FF;
}
.br {
    color: #FD971F;
    font-style: italic;
}
.og {
    color: #A6E22E;
}
.gy {
    color: #75715E !important;
}
.rd {
    color: #F92672;
}